<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<title>{% if page.title != 'Home' %}{{ page.title }} - {% endif %}{{ site.name }} | Once a geek, forever a geek…</title>
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="{{ page.categories | join: ',' }},{{ page.keywords | join: ',' }} programming, startups, sysadmin, devops, ruby, linux" />
<meta name="author" content="Marius Voila" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="shortcut icon" href="/resources/favicon.png" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.subscribe }}" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/highlight.css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/js/html5.js"></script>
<![endif]-->
</head>
<body>
<header>
<h1><a href="/">{{ site.name }}</a></h1>
<div id="sub-title">{{site.desc}}</div>
<nav>
<a href="/about.html" title="About me">about</a> &bull;
<a href="/wish.html" title="Wishlist">wishlist</a> &bull;
<a href="/rent-me.html" title="Rent Me">rent me</a> &bull;
<a href="/sys-magic.html" title="Sys Magic">sys magic</a> &bull;
<a id="subscribe-link" href="{{ site.subscribe }}" title="Go to my RSS feed" rel="nofollow">subscribe</a>
</nav>
</header>
<div id="main">
{{ content }}
</div>
<footer>
<p>Copyright &copy; 2010 - {{ site.time | date: '%Y' }} <a href="/about.html">Marius Voila</a>. Some rights reserved.</p>
<p><a id="cc-logo" title="Creative Commons License" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"></a>
Except where otherwise <a href="https://github.com/mariusv/mariusv.com#readme">noted</a>, content on this site is licensed under a<br />
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>
</footer>
<script type="text/javascript" src="/js/main.js"></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.mariusv.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.mariusv.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
