---
layout: default
---
<p id="breadcrumbs">
<a href="/">Home</a>
&rsaquo; <a href="/blog.html">Blog archive</a>
&rsaquo; {{ page.title }}
</p>
<article>
<header>
<h2><a title="Permalink to {{ page.title }}" href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h2>
Posted by <a href="/about.html">Marius Voila</a>
on {{ page.date | date: "%B %d, %Y" }}
in London, U.K .
— <a id="dsq-comment-count" data-disqus-identifier="{{ page.url }}" href="{{ page.url }}#disqus_thread">0 comments</a> This post contains {{ page.content | number_of_words }} words
</header>
{{ content }}
<footer>
<span id="share-buttons-label">Share this:</span><div id="share-buttons"></div>
<p id="like-and-subscribe">Liked this post? Subscribe to my <a href="{{ site.subscribe }}" rel="nofollow">RSS feed</a>.</p>
<p id="categories">Categories:&nbsp; {% for category in page.categories %}<a href="/category/{{ category }}">#{{ category }}</a>&nbsp; {% endfor %}</p>
<div id="author-blurb">
<img class="gravatar" alt="Gravatar image" height="100" width="100" src="http://gravatar.com/avatar/ed187d05ba76eb9b64ee3f59a20aba0c?size=100" />
<strong>About the author:</strong>

Marius Voila is a Linux Sysadmin, a photographer, a technologist, a specialist in deployments, cloud computing, load balancing, scaling and performance tuning, as well as developing disaster-recovery best practices such as backups and restorations, firewalls, and server security audits, OpenStack deployments. <a href="/about.html">Read more &rarr;</a>
<a href="http://twitter.com/mariusvoila" class="twitter-follow-button" data-show-count="false">Follow @mariusvoila</a>
</div>
<section id="related-posts">
<h3>Possibly Related Posts</h3>
<ul>
{% for post in page.related %}
<li><a href="{{ post.url }}">{{ post.title }}</a> <time datetime="{{ post.date | date: '%d-%m-%Y' }}">( {{ post.date | date: '%b %d, %Y' }} )</time></li>
{% endfor %}
</ul>
</section>
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view comments.</noscript>
<a class="dsq-brlink" href="http://disqus.com" rel="nofollow">comments powered by <span class="logo-disqus">Disqus</span></a>
<script type="text/javascript">
/* Define title and URL for use with share buttons, Disqus, etc. */
var mariusv_title = '{{ page.title }}';
var mariusv_slug  = '{{ page.url }}';
var mariusv_url   = '{{ site.url }}{{ page.url }}';
</script>
</footer>
</article>
